<div class="input-group">
  <input type="text" class="form-control" name="{{ name }}" uib-datepicker-popup="yyyy-MM-dd" ng-model="date"
         is-open="status.opened" min-date="minDate" max-date="maxDate"
         datepicker-options="dateOptions"
         close-text="Close" ng-readonly="readonlyField()"/>

  <span class="input-group-btn">
    <button type="button" class="btn btn-default glyphicon glyphicon-calendar" ng-click="open($event)"
            ng-hide="readonlyField()"></button>
  </span>
</div>
